@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.imagem {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.normal{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.normal div.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 6px 20px #00000056;
}

section.normal div.card-login h1{
    font-size: 1.5em;
    margin-top: 15%;
}

section.normal div.card-login div.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

section.normal div.card-login div.textfield input {
    width: 100%;
    border: 1px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(190, 190, 190, 0.767);
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 2px 4px 9px 0px #00000056;
    outline: none;
    box-sizing: border-box;
}

section.normal div.card-login div.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

section.normal div.card-login div.textfield input::placeholder {
    color: #f0ffff94;
}

section.normal div.card-login button.btn-login {
    width: 60%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: #016acc;
    cursor: pointer;
    box-shadow: 2px 4px 9px 0px #00000056;
}

section.normal div.card-login button.btn-login:hover {
    background-color: #2e90ec;
    box-shadow: 0px 10px 40px -12px #0c83f1;
    transition: 0.5s;
}

@media only screen and (max-width: 950px){
    section.normal div.card-login {
        width: 80%;
    }
}

@media only screen and (max-width: 500px){
    main {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        
    }

    section.imagem {
        width: 100vw;
        height: 50%;
        position: relative;
        
    }

    section.imagem img.imagem-oops {
        transform: rotate(90deg);
        height: 100vh;
    }
    
    section.normal {
        width: 90%;
        height: auto;
        position: absolute;
        margin-top: 50%;
    }
}

@media only screen and (max-height: 680px){
    
    section.normal {
        width: 80%;
        height: auto;
        position: absolute;
        margin-top: 30%;
        margin-bottom: 20%;
    }

    section.normal div.card-login {
        width: 80%;
        height: 60vh;
    }

    section.normal div.card-login div.textfield {
        margin: 0px;
    }

    section.normal div.card-login div.textfield input {
        border-radius: 9px;
        padding: 12px;
    }

    section.normal div.card-login button.btn-login {
        width: 55%;
        padding: 13px 0px;
    }

    section.normal div.card-login div.icoLogin {
        margin-top: 15px;
    
    }
}