@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/Login-backg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 80vb;
    width: auto;
    
}