@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    height: 100%;
}
section.imagem {
    height: 100%;
    width: 55%;
    background: url(../img/FundoLogin.jpg) no-repeat fixed center center;
    background-size: cover;
}

form {
    height: 600px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(211, 211, 211, 0.582);
    border-radius: 10px;
}